<%= form_with(model: reg_table) do |form| %>
  <% if reg_table.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reg_table.errors.count, "error") %> prohibited this reg_table from being saved:</h2>

      <ul>
        <% reg_table.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user, style: "display: block" %>
    <%= form.text_field :user %>
  </div>

  <div>
    <%= form.label :event, style: "display: block" %>
    <%= form.text_field :event %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
